//
// Grid
//

.grid {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @include media-up(sm) {
    max-width: map_get($breakpoints, sm);
  }

  @include media-up(md) {
    max-width: map_get($breakpoints, md);
  }

  @include media-up(lg) {
    max-width: map_get($breakpoints, lg);
  }

  @include media-up(xl) {
    max-width: map_get($breakpoints, xl);
  }
}

.row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0 -$grid-gutter-width * 0.5;

  @each $viewport, $breakpoint in $breakpoints {
    @include make-row($viewport, $breakpoint);
  }
}

.col {
  box-sizing: border-box;
  padding: 0 $grid-gutter-width * 0.5;

  @each $viewport, $breakpoint in $breakpoints {
    @include make-col($viewport, $breakpoint, $columns, $flex-order-count);
  }
}
