<div class="main-menu">
    <div class="grid">
        <div class="row">
            <div class="col col--xs-12">
                <div class="main-menu__container">
                    <div class="main-menu__logo">
                        <a href="#">
                            <img src="#" class="test">
                        </a>
                    </div>
                    <div class="main-menu__search">
                        <input type="text" class="main-menu__search-input" />
                    </div>
                    <div class="main-menu__notifications">
                        <a href="#">icon</a>
                        <a href="#">icon</a>
                        <a href="#">icon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>