//
// Variables
//

// Grid
$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-gutter-width: 30px;

$columns: 12;

$flex-order-count: $columns;


// Colors
$brand-primary: blue;
$brand-primary-light: lighten($brand-primary, 25%);
$brand-primary-dark: darken($brand-primary, 25%);

$black: #000;
$grey-darkest: lighten($black, 12.5%);
$grey-darker: lighten($black, 25%);
$grey-dark: lighten($black, 37.5%);
$grey: lighten($black, 50%);
$grey-light: lighten($black, 62.5%);
$grey-lighter: lighten($black, 75%);
$grey-lightest: lighten($black, 87.5%);
$white: #fff;

$transition-duration: 200ms;


// Fonts
$font-family-sans-serif: 'Arial';
$font-family-serif: 'Times New Roman';

$font-size-base: 1.6rem;
$font-size-small: $font-size-base * 0.75;
$font-size-large: $font-size-base * 1.25;

$font-size-h1: $font-size-base * 5;
$font-size-h2: $font-size-base * 4;
$font-size-h3: $font-size-base * 3;
$font-size-h4: $font-size-base * 2;
$font-size-h5: $font-size-base * 1;
$font-size-h6: $font-size-base * 0.75;

$font-weight-base: 400;
$font-weight-light: 300;
$font-weight-heavy: 700;

$text-color: $grey-darker;
$link-color: $brand-primary;
$link-color-hover: $brand-primary-dark;
$link-color-focus: $link-color;


// Buttons
$btn-border-base: 2px;
$btn-border-radius-base: 5px;
$btn-border-radius-small: $btn-border-radius-base * 0.75;
$btn-border-radius-large: $btn-border-radius-base * 1.25;

$btn-padding-base: 10px 12px;
$btn-padding-small: 7.5px 9px;
$btn-padding-large: 12.5px 15px;

$btn-font-size-base: 1rem;
$btn-font-size-small: $btn-font-size-base * 0.75;
$btn-font-size-large: $btn-font-size-base * 1.25;